@import url(./shared.css);
@import url(./Animation/Animation.css);
@import url(./BaseLayerPicker/BaseLayerPicker.css);
@import url(./CesiumWidget/CesiumWidget.css);
@import url(./CesiumInspector/CesiumInspector.css);
@import url(./Cesium3DTilesInspector/Cesium3DTilesInspector.css);
@import url(./FullscreenButton/FullscreenButton.css);
@import url(./VRButton/VRButton.css);
@import url(./Geocoder/Geocoder.css);
@import url(./InfoBox/InfoBox.css);
@import url(./SceneModePicker/SceneModePicker.css);
@import url(./ProjectionPicker/ProjectionPicker.css);
@import url(./PerformanceWatchdog/PerformanceWatchdog.css);
@import url(./NavigationHelpButton/NavigationHelpButton.css);
@import url(./SelectionIndicator/SelectionIndicator.css);
@import url(./Timeline/Timeline.css);
@import url(./Viewer/Viewer.css);
.cesium-viewer-toolbar .cesium-viewer-geocoderContainer{
    display: block;
    position: fixed;
    top: 5px;
    left: 5px;
}




.cesium-button.cesium-home-button {

    position: fixed;
    width: 27px;
    height: 30px;
    bottom: 270px;
    right: 4px;
}
.cesium-button.cesium-fullscreenButton {

    position: fixed;
    width: 27px;
    height: 27px;
    bottom: 230px;
    right: 5px;
 }
 .cesium-button.cesium-vrButton {

    position: fixed;
    width: 27px;
    height: 27px;
    bottom: 190px;
    right: 5px;

}
span.cesium-sceneModePicker-wrapper {

    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 150px;
    right: 5px;
}
